affine==2.3.0
amqp==2.4.0
attrs==21.2.0
certifi==2018.1.18
chardet==3.0.4
charset-normalizer==2.0.6
click==8.0.1
click-plugins==1.1.1
cligj==0.7.2
coverage==3.7.1
cycler==0.10.0
decorator==4.4.2
Fiona==1.8.6
flasgger==0.9.0
Flask==1.0.2
Flask-HTTPAuth==2.2.1
Flask-SQLAlchemy==1.0
GDAL==2.4.1
geographiclib==1.52
geopandas==0.7.0
geopy==1.19.0
gunicorn==19.7.1
httpie==0.8.0
idna==2.6
imageio==2.9.0
importlib-metadata==4.8.1
itsdangerous==0.24
Jinja2==2.10
jsonschema==3.2.0
kiwisolver==1.3.1
MarkupSafe==0.23
matplotlib==3.3.4
mistune==0.8.4
munch==2.5.0
networkx==2.5.1
numpy==1.17.5
pandas==1.0.4
pika==0.12.0
Pillow==8.3.2
ply==3.11
Pygments==1.6
pygobject==3.26.1
Pyomo==6.1.2
pyparsing==2.4.7
pyproj==2.1.3
pyrsistent==0.18.0
python-apt==1.6.4
python-dateutil==2.8.2
python-igraph==0.7.1.post6
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
rasterio==1.2.8
requests==2.26.0
Rtree==0.9.7
scikit-image==0.17.2
scipy==1.3.0
Shapely==1.6.4
six==1.11.0
snuggs==1.4.7
SQLAlchemy==1.1.10
ssh-import-id==5.7
tifffile==2020.9.3
typing-extensions==3.10.0.2
unattended-upgrades==0.1
urllib3==1.22
vine==5.0.0
Werkzeug==0.14
zipp==3.5.0
